<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Build a Classifier</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<style>
  .upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
<script type="text/javascript">
  $(function() {
    'use strict';

    var dropZone = document.getElementById('drop-zone');
    var uploadForm = document.getElementById('js-upload-form');

    var startUpload = function(files) {
      //var firstObject = files[0]
      var firstFile = files[0]
      console.log("hi")
      if(firstFile["type"]=="application/json"){

        var fileObject = files[0]
        var success = function ( content ) {
          $.ajax({
            "url": "/upload",
            'data': content,
            'type': 'POST',
            'contentType': 'application/json'
          });
        }

        var fileReader = new FileReader( );
        fileReader.onload = (function(theFile){
            var fileName = theFile.name;
            return function(e){
                console.log(fileName);
                success(e.target.result);
               
            };
        })(firstFile);   
        fileReader.readAsText(firstFile);
        
      }
      else{
        //deal with non json uploads
        console.log("non-json files will not be accepted")
      }
    }

    //form template: https://bootsnipp.com/snippets/featured/bootstrap-drag-and-drop-upload
    uploadForm.addEventListener('submit', function(e) {
        var uploadFiles = document.getElementById('js-upload-files').files;
        e.preventDefault()
        startUpload(uploadFiles)
    })

    dropZone.ondrop = function(e) {
        e.preventDefault();
        this.className = 'upload-drop-zone';
        startUpload(e.dataTransfer.files)
    }

    dropZone.ondragover = function() {
        this.className = 'upload-drop-zone drop';
        return false;
    }

    dropZone.ondragleave = function() {
        this.className = 'upload-drop-zone';
        return false;
    }

});
</script>
<body>
<!--https://bootsnipp.com/snippets/featured/bootstrap-drag-and-drop-upload-->
  <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong> <small>Bootstrap files upload</small></div>
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Select a datafile that fits our schema</h4>


          <form action="" method="post" action="upload/" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple>
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
            </div>
          </form>

          <!-- Drop Zone -->
          <h4>Or drag and drop it below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop the JSON here
          </div>

        </div>
      </div>
    </div> 

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
